<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <p class="lead mb-0">
          Rue de la plage béni khiar
          <br />
          Nabeul, 8060
        </p>
      </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Socials</h4>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"
          ><i class="fab fa-fw fa-facebook-f"></i
        ></a>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"
          ><i class="fab fa-fw fa-twitter"></i
        ></a>
        <a
          class="btn btn-outline-light btn-social mx-1"
          href="https://www.linkedin.com/in/fatma-jrad-ba2b26216/"
          ><i class="fab fa-fw fa-linkedin-in"></i
        ></a>
        <a class="btn btn-outline-light btn-social mx-1" href="tel:+21699074732"
          ><i class="fa-solid fa-phone"></i
        ></a>
      </div>

      <div class="col-lg-4">
        <h4 class="text-uppercase mb-4">About Me</h4>
        <p class="lead mb-0">
          You can see more about me Through my linkedin account
          <a href="https://www.linkedin.com/in/fatma-jrad-ba2b26216/"
            >Fatma Jrad</a
          >
          .
        </p>
      </div>
    </div>
  </div>
</footer>

<div class="copyright py-4 text-center text-white">
  <div class="container"><small>Copyright &copy; Fatma Jrad 2023</small></div>
</div>
