<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-white">
      About
    </h2>

    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>

    <div class="row">
      <div class="col-lg-4 ms-auto">
        <p class="lead">
          I am an experienced in web developer with a strong background in full
          stack development. Throughout my career, I have successfully built
          numerous websites, showcasing my proficiency in delivering
          high-quality digital solutions. My passion for learning and innovation
          drives me to constantly explore new technologies. Currently, I am
          dedicated to expanding my knowledge in MEAN stack. Also up to date
          with the latest updates of new technologies and frameworks.
        </p>
      </div>
      <div class="col-lg-4 me-auto">
        <p class="lead">
          With a passion for innovation, a love for coding, and a desire to
          leave a lasting impact, I am excited about the opportunities that lie
          ahead. I am ready to utilize my skills and knowledge to contribute to
          the ever-evolving landscape of technology and make a difference in the
          world.
        </p>
      </div>
    </div>

    <div class="text-center mt-4">
      <a
        class="btn btn-xl btn-outline-light"
        href="./resume/Helmi-Ben-Romdhane-cv-en.pdf"
        target="_blank"
        rel="noreferrer"
        ><i class="fa-regular fa-file"></i> &nbsp;My Resume</a
      >
    </div>
  </div>
</section>
